.CardRoot {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    padding-left: 20px;
    background-color: white;
}

.image {
    height: 300px;
    width: 100%;
}

.buttons {
    display: flex;
    padding: 10px;
}

.likes {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.comments {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.input {
    border: none;
    background-color: #fff;
    padding: 10px;
    outline: none;
    resize: none;
}

.like {
    margin-right: 10px;
    cursor: pointer;
}

.comment {
    cursor: pointer;
}

.title {
    font-size: 14px;
    color: rgba(0,0,0, 0.4);
    cursor: pointer;
}