.Navbar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.NavbarWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
}